.BodyHeader {
  direction: rtl;
}
/* ---------------------COMMON STYLE----------------------- */
img.TabIcon {
  margin-right: 5px;
}
img.BtmLftLogo {
  right: -155px;
}
.TitleContent, .CaseDetails {
  margin-right: auto;
  text-align: left;
}
.password img.eye {
  right: 15px;
}
img.Notifications {
  margin: auto;
}
.UserData {
  text-align: left;
}

.InfoContainer {
  text-align: right;
}
.CaseAssignee {
  margin-left: 0 !important;
}
.Attachments {
  margin-left: auto;
}
.LawyerInfo img {
  margin-right: 10px;
}
.CaseInfo div:first-child {
  margin-left: 0 !important;
}
.DayNumber {
  margin-right: 5px !important;
 }
.Attachments img {
  margin-right: 5px;
}
img.Checkmark {
  margin-left: auto;
}
img.IdentifierIcon {
  margin: 0px 0px 15px 0px;
}
.CaseCard.Notification {
  text-align: left;
}
.CaseCard.Notification.active .Head::before {
  margin: auto 10px auto 0;
}
p.UserName::after {
  margin-left: .255em;
}
button.btn.btn-primary.LogOut img {
  left: 20px;
}
.CaseDetails .DayDate {
  margin-left: 10px;
}
.LawyerOption label {
  margin-left: auto !important;
}
.CaseDetails p.Semi.FC::before,
.CaseDetails p.Semi.LC::before,
.CaseDetails .CaseState p.Semi::before
,.CaseDetails .CaseType p.Semi::before {
  margin-right: 7px;
}
.input-group.date img {
  right: 15px;
}
p.LawyerName {
  left: 45px;
}
.slider.round:before {
  left: 4px;
}
.CaseCard.AttachmentContainer {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.FinalProcess p {
  margin-right: auto !important;
  margin-left: 35px !important;
}
/* ---------------------COMMON STYLE----------------------- */
