.TabsContainer,
.Tab,
.BodyContent,
.Header,
.CaseCard,
.slider,
.CaseCard.Notification,
.CaseDetails,
.FormGroup,
.InputGroup,
span#remainingC,
div#CaseDetails .Body {
  direction: rtl;
}
/* ---------------------COMMON STYLE----------------------- */
img.TabIcon {
  margin-left: 5px;
}
img.BtmLftLogo {
  left: -155px;
}
.TitleContent,.CaseDetails {
  margin-left: auto;
  text-align: right;
}
.password img.eye {
  left: 15px;
}
img.Notifications {
  margin-right: auto;
}
.UserData {
  text-align: right;
}
.CaseAssignee {
  margin-right: 0 !important;
}
.InfoContainer {
  text-align: right;
}
.Attachments {
  margin-right: auto;
}
.LawyerInfo img {
  margin-left: 10px;
}
.CaseInfo div:first-child {
  margin-right: 0 !important;
}
.DayNumber {
 margin-left: 5px !important;
}
.Attachments img {
  margin-left: 5px;
}
img.Checkmark {
  margin-right: auto;
}
img.IdentifierIcon {
    margin: 0px 0px 0px 15px;
}
.CaseCard.Notification {
  text-align: right;
}
.CaseCard.Notification.active .Head::before {
  margin: auto 0 auto 10px;
}
p.UserName::after {
  margin-right: .255em;
}
button.btn.btn-primary.LogOut img {
  right: 20px;
}
.CaseDetails .DayDate {
  margin-right: 10px;
}
.LawyerOption label {
  margin-right: auto !important;
}
.CaseDetails p.Semi.FC::before,
.CaseDetails p.Semi.LC::before,
.CaseDetails .CaseState p.Semi::before
,.CaseDetails .CaseType p.Semi::before,
.LawyerOption:first-child p::before,
.LawyerOption:last-child p::before {
  margin-left: 7px;
}
.input-group.date img {
  left: 15px;
}
p.LawyerName {
  right: 45px;
}
.slider.round:before {
  right: 4px;
}
.CaseCard.AttachmentContainer {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.FinalProcess p {
  margin-left: auto !important;
  margin-right: 35px !important;
}
/* ---------------------COMMON STYLE----------------------- */
